<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837134992436-85p8dj5goth1qlbiqlig40ft9t3uugq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837134992436-85p8dj5goth1qlbiqlig40ft9t3uugq7</string>
	<key>API_KEY</key>
	<string>AIzaSyC4XXZsG0Iwl_hFMUrPyJC1_fTDXfn7I-A</string>
	<key>GCM_SENDER_ID</key>
	<string>837134992436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mak.wherewithal</string>
	<key>PROJECT_ID</key>
	<string>wherewithal-dc32d</string>
	<key>STORAGE_BUCKET</key>
	<string>wherewithal-dc32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837134992436:ios:b01a38b6bd4c66b16e7661</string>
</dict>
</plist>